<div class="puerta_fase">
  <img class="abierta" id="puerta_uno" alt="Puerta número 1" onClick="loadDoor(0)" src="/assets/images/libro_abierto.png" />
  <p id="texto_puerta_uno">El mundo</p>
</div>
<div class="puerta_fase">
  <img class="cerrada" id="puerta_dos" alt="Puerta número 2" onClick="loadDoor(1)" src="/assets/images/libro_cerrado_c.jpg" >
  <p class="hidden" id="texto_puerta_dos">Los personajes</p>
</div>
<div class="puerta_fase">
  <img class="cerrada" alt="Puerta número 1" onClick="loadDoor(2)" src="/assets/images/libro_cerrado_c.jpg" />
</div>
