<img id="mapa" src="assets/images/estanteria.png" />
<img
  alt="Puerta número 1"
  onClick="loadDoor(0)"
  class="puerta1"
  src="assets/images/acceso_fase_uno.png"
/>
<img
  alt="Puerta número 2"
  onClick="loadDoor(1)"
  class="puerta2"
  src="assets/images/acceso_fase_uno.png"
/>
<img
  alt="Puerta número 3"
  onClick="loadDoor(2)"
  class="puerta3"
  src="assets/images/acceso_fase_uno.png"
/>
<img
  alt="Puerta número 4"
  onClick="loadDoor(3)"
  class="puerta4"
  src="assets/images/acceso_fase_uno.png"
/>
<img
  alt="Puerta número 5"
  onClick="loadDoor(4)"
  class="puerta5"
  src="assets/images/acceso_fase_uno.png"
/>
<img
  alt="Puerta número 6"
  onClick="loadDoor(5)"
  class="puerta6"
  src="assets/images/acceso_fase_uno.png"
/>
