<div id="bloque_fase">      
    <div class="bocadillo-redondo">
        <h2 class="titulo_cap"> Capítulo 1.
            El comienzo </h2>
                <p id="texto_cap"> Bueno, bueno, ya estoy viendo a mis amigos que van a contarme una nueva historia, id pensando porque lo primero que me gustaria saber es...
                Ah si! Perdonad mi mala memoria, ¿De qué tierra lejana venís?, si no os acordais os dejo por aqui unos paisajes, elegid el que más parecido sea 
                a vuestro mundo </p>
            <img id="ayudante" src="assets/images/ayudante.png" width="50%" >
    </div>
    <div id="bloque_cartas">
        <button id="b_paisaje" onclick="getLandscapeCard()"> Cartas Paisaje </button>
        <div id="cartas" class="hidden">  
            
        </div>
    </div>      
</div>