
<div id="bloque_fase" style="background-image: url('assets/images/libro_op.png');">
    <div id="bloque_intro_1">
        <div class="bocadillo-redondo">
            <h4 id="titulo_cap_uno" class="titulo_cap"> Fase 1.
                El mundo </h4>
            <p id="texto_cap_uno"> ¡Bienvenidos a la casa de los cuentos! Comenzamos con la obtención de recursos, aquí decidiremos el lugar donde comenzará la historia.
            </p>
        </div>
        <img id="ayudante" src="assets/images/ayudante.png" width="50%">
    </div>
    
    <div id="bloque_cartas">
        <button id="b_paisaje" onclick="getLandscapeCard()"> Cartas Paisaje </button>
        <div id="cartas" class="hidden">

        </div>
    </div>
</div>
