<div id="bloque_central">
    <div id="bloque_fase" style="background-image: url('/assets/images/fase_uno.jpeg');">   
        <div class="bocadillo-redondo">
            <h3 class="titulo_cap"> Capítulo 1.
                El comienzo </h3>
                    <p id="texto_cap"> Bueno, bueno, ya estoy viendo a mis amigos que van a contarme una nueva historia. En cada capítulo, yo os propondré una serie 
                        de cosas que deben estar en la historia, teneis que pensad juntos y bien para crear algo interesante.  Lo primero que me gustaria saber es...
                    Ah si! Perdonad mi mala memoria, ¿De qué tierra lejana venís?, os dejo por aqui unos paisajes para que os den alguna idea, cuando lo tengais elegido,
                    empezad a contad y al final seleccionais la carta adecuada.</p>
                <img id="ayudante" src="assets/images/ayudante.png" width="50%" >
        </div>
        <div id="bloque_cartas">
            <button id="b_paisaje" onclick="getLandscapeCard()"> Cartas Paisaje </button>
            <div id="cartas" class="hidden">  
                
            </div>
        </div>      
    </div>
</div>