<!DOCTYPE html>
<html>
  <head>
    <!-- Añadimos estilo -->
    <link
      rel="stylesheet"
      type="text/css"
      href="css/style.css"
      media="screen"
    />
    <meta charset="UTF-8" />
    <!--Añadimos el fichero de clientjs que contiene las funciones con las peticiones de los clientes
    como por ejemplo la funcion joinRoom-->
    <script src="/socket.io/socket.io.js"></script>
    <script src="client.js"></script>

    <!--jquery-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- prueba con jitsi -->
    <script src="https://meet.jit.si/external_api.js"></script>
    <!--FONT FAMILY ANTON-->
    <link
      href="https://fonts.googleapis.com/css?family=Anton"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gluten:wght@100&display=swap" rel="stylesheet">
    <title>La casa de los cuentos</title>
  </head>
  <body id="content">
    <div style="height: 100%;">
      <img
        id="fondo"
        alt="Portada de bienvenida"
        src="assets/images/fondo_pantalla.jpg"
        width:100%
      />
      <p id="titulo">LA CASA DE LOS CUENTOS</p>
      <div id="new_room">
        <p id="titulo_form">Únete a la sala</p>
        <p>Nombre:</p>
        <input type="text" id="name_player" />
        <button class="iniciar_juego" type="submit" onclick="joinRoom()">
          Unirse
        </button>

        <div id="error" class="hidden">
          <p>YA EXITE UN JUGADOR CON ESE NOMBRE</p>
        </div>
      </div>
    </div>
  </body>
</html>
