<!doctype html> 
<html> 
<head> 
    <!-- Añadimos estilo -->
    <link rel="stylesheet" type="text/css" href="css/style.css" media="screen" />
    <meta charset="UTF-8" />
    <title>La casa de los cuentos </title>  
</head>
<body id="content">
    <div style="height: 100%;">
        <img id="fondo" alt="Portada de bienvenida"  src="assets/images/fondo_pantalla.png" width:100%/>
        <p id="titulo">LA CASA DE LOS CUENTOS</p>
        <div id="new_room">
            <p id="titulo_form">Únete a la sala</p>
            <p> Nombre: </p>
            <input type="text" id="name_player"/>
            <p> Comencemos a jugar </p>
            <button type="button" onclick="">Jugar!</button> 
        </div> 
       
    </div> 
</body>
</html>
