<div id="bloque_central">
    <div id="bloque_fase" style="background-image: url('/assets/images/fase_uno.jpeg');">   
        
        <div id="trama_genero">
            <button id="b_genero" onclick="getGender()"> Genero y tramas </button>
            <div id="bloque_genero" class="hidden">  
                

            
            </div>
            
        </div>   
        <div class="bocadillo-redondo">
            <h3 class="titulo_cap"> Capítulo 2.
                Trama vs Género </h3>
                    <p id="texto_cap"> Cuando estamos viendo una pelicula, suele ser fácil identificar el género al que pertenece, si nos ha hecho gracia, 
                        nos ha producido tristeza o incluso miedo. Es algo fundamental para contar una historia con fundamento, saber a que género pertenece.
                        También es importante diferenciarlo de una trama, que normalmente es algo que sucede. En este capitulo vais a conocer el género de la historia 
                        y algunas substramas que debereís intercalar. SI lo conseguis el moderador dará su visto bueno a tramas y género.
                        Vamos a ver si habeis tenido suerte....
                    </p>
                <img id="ayudante" src="assets/images/ayudante.png" width="50%" >
        </div>

    </div>
</div>


