<div id="bloque_fase" style="background-image: url('assets/images/libro_op.png');">
    <div id="genero">
        <button class="boton_genero" id="b_genero" onclick="getGender()"> Obtener género</button>
        <div id="bloque_genero" class="hidden"></div>
        <button class="boton_genero hidden" id="b_trama" onclick="getPlots()"> Obtener tramas </button>
        <div id="bloque_trama" class="hidden"></div>
    </div>
    <div id="bloque_intro_2">
        <div class="bocadillo-redondo">
            <h4 id="titulo_cap_dos" class="titulo_cap"> Fase 2.
                Género & Tramas </h4>
            <p class="texto_cap" id="texto_cap_dos"> Como en cualquier historia, para que tenga sentido necesita tener un genero y varias tramas a las que dedicarse.
                Ahora vamos a obtener el género principal y 3 tramas.
            </p>
        </div>
        <img id="ayudante" src="assets/images/ayudante.png" width="50%">    
    </div>
   
</div>