<div id="principal">
    <h1 id="titulo_prin">LA CASA DE LOS CUENTOS</h1>
    <div id="bloque_principal">
            <div id="bloque_recorrido">
                <h2>RECORRIDO</h2>
            </div>
            <div id="bloque_comenzar">
                <div id="form_start_game">
                    <p id="titulo_form">¿Estamos todos listos?</p>
                    <p>¡Bienvenidos y bienvenidas! Antes de comenzar a jugar deben quedar claras ciertas cosas: </p>
                    <ul>
                        <li>La herramienta más importante que podéis usar es la imaginación, acompañada de vuestras vivencias a lo largo de los años. </li>
                        <li> En cada fase se indicará qué debéis hacer para que nadie pierda el hilo de la historia. </li>
                        <li> Y por supuesto, tenéis que trabajar en equipo. </li>

                    </ul>
                    <p>

                    Que nos cuenten una historia siempre nos gusta, además de ser entretenido, 
                    pero si nos la cuenta uno de nuestros abuelos pasa a ser un momento que siempre recordaremos. 

                    Si ya estáis preparados, ¡que comience la historia!
                    </p>
                    <button type="button" onclick="startGame()">Comenzar a jugar!</button> 
                </div>
                
                
            </div>
            <div id="bloque_central" class="hidden">
            </div>
            <div id="bloque_jugadores">
                <h2>JUGADORES</h2>
                <!-- Aquí vamos a introducir el bloque de mensajes-->
                <!-- COMENTAMOS CHAT PARA INTRODUCIR CAMAARAS-->
               <!--<div id="chat">
                    <h3> CHAT </h3>
                    <div id="mensajes">
                        <p> CHAT: Bienvenidos al chat de la casa de los juegos, cuando envíes
                            tu primer mensaje apareceran los de resto de jugadores.
                        </p>
                    </div>
            
                    Input para mandar mensajes 
                    <form onsubmit="return sendMessage(this)">
                        <input type="text" id="mensaje_chat" placeholder="Escribe algo..." />
                        <input type="submit" value="Enviar mensaje!" />
                    </form>    
                </div>
                --> 

                <div id="camaras" class="hidden">
                    <button class="iniciar_juego" id="boton_emitir" type="button" onclick="initCamera()">CARGAR CÁMARAS</button>
                </div>
            </div>
    </div>
  </div>
</div>
