<div id="bloque_central">
    <div id="bloque_fase" style="background-image: url('/assets/images/escenario.jpg');">   
        <div class="bocadillo-redondo">
            <h3 class="titulo_cap"> Capítulo 2.
                Los personajes </h3>
                    <p id="texto_cap"> Vustro mundo es asombroso... pero, quienes protagonizarán esta historia porque es necesario una serie de personajes
                        pero no nos vale cualquier personaje.... deben tener su personalidad y su historia. Elegid cual de estos personajes formarán parte de la historia
                        y yo os daré unas directrices que sigue cada un0o de estos.</p>
                <img id="ayudante" src="assets/images/ayudante.png" width="50%" >
        </div>
        <div id="bloque_personajes">
            <p>El héroe</p>
            <p>El mentor</p>
            <p>Los aliados</p>
            <p>La sombra</p>
            <p>El embaucador</p>
            <p>El heraldo</p>
            <p>El cambiante</p>
            <p>El guardían</p>
            </div>
        </div>      
    </div>
</div>