html {
  height: 100vh;
}
body {
  height: 637px;
  width:1290px;
  background-size: 100%;
  margin: 0px !important;
}
/*Página de login*/
#fondo {
  width: 100%;
  height: 100%;
}

#titulo {
  background-color: rgba(243, 173, 69, 0.897);
  border: 3px solid rgb(97, 64, 21);
  border-radius: 10px;
  padding: 10px;
  left: 25%;
  width: 50%;
  font-family: Anton;
  font-size: 35px;
  color: black;
  position: relative;
  bottom: 600px;
  text-align: center;
}

#titulo_form {
  margin-top: 1px;
  font-size: 20px;
}

#new_room {
  background-color: rgba(243, 173, 69, 0.897);
  border: 3px solid rgb(97, 64, 21);
  border-radius: 10px;
  padding: 10px;
  width: 20%;
  position: relative;
  left: 38%;
  bottom: 500px;
  text-align: center;
}

.iniciar_juego {
  margin-top: 10px;
  background-color: rgb(0, 0, 0);
  border-radius: 4px;
  border: 2px solid rgb(0, 0, 0);
  color: white;
}

#new_room p {
  margin: 3px;
  font-family: Anton;
  color: black;
}
#new_room input {
  margin: 10px;
}

/*Pagina principal del juego*/
#principal {
  background-image: url("/assets/images/principal.jpg");
  background-size: 100% 100%;
  
}

#bloque_principal {
  height: 90%;
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

#titulo_prin {
  background-color: rgba(6, 38, 68, 0.719);
  text-align: center;
  color: white;
  font-size: 50px;
  margin: 0px;
}

#mapa {
  width: 100%;
  height: 70%;
}
.puerta1 {
  position: absolute;
  bottom: 370px;
  width: 10%;
  left: 305px;
  height: 20%;
}
#bloque_recorrido {
  text-align: center;
  margin-right: 10px;
  height: 98%;
  background-color: rgba(218, 168, 93, 0.712);
}

#bloque_jugadores {
  text-align: center;
  margin-left: 10px;
  height: 98%;
  background-color: rgba(218, 168, 93, 0.712);
}

/* ESTILO DEL CHAT */
#chat {
  background-color: rgb(241, 181, 52);
  border: 4px solid black;
  height: 82%;
  margin: 5px;
  padding: 2px;
}
#mensajes {
  border: 2px solid black;
  background-color: white;
  overflow-y: scroll;
  height: 222px;
  margin: 10px;
  text-align: center;
}
#mensajes p {
  border: 2px solid rgb(248, 208, 121);
  border-radius: 15px 50px 30px;
  margin: 2px;
  background-color: rgb(248, 208, 121);
  font-size: 13px;
  font-family: fantasy;
}


/* Añadiendo estilo de la fase 1 */
#principal {
  background-image: url("/assets/images/principal.jpg");
  background-size: 100% 100%;
  height: 100%;
}

#bloque_fase {
  background-image: url("/assets/images/fase_uno.jpg");
  background-size: 100% 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
}

.titulo_cap {
  top: 10%;
  left: 12%;
  position: absolute;
}
#texto_cap {
  position: absolute;
  top: 25%;
  left: 12%;
  width: 80%;
}

/*Diseño del bocadillo*/
.bocadillo-redondo {
  position: relative;
  height: 275px;
  width: 375px;
  background: rgba(214, 231, 117, 0.945);
  border-radius: 50%;
  box-shadow: 1px 12px 33px rgba(56, 73, 17, 0.692);
}
.bocadillo-redondo:before {
  border: 25px solid rgba(171, 192, 50, 0.945);
  content: "";
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
  position: absolute;
  bottom: -44px;
  right: 75px;
  transform: rotate(-8deg);
}

#ayudante {
  position: relative;
  top: 110%;
  width: 100%;
}

/*Bloque con las cartas*/

#b_paisaje {
  position: relative;
  top: 30%;
  width: 100px;
  height: 100px;
  background-color: rgb(255, 158, 13);
  border-radius: 50%;
}

/*Bloque con las cartas*/

#cartas {
  height: 570px;
  display: grid;
  grid-template-rows: 20% 25% 25%;
  background-color: rgba(0, 0, 0, 0.644);
}

.hidden {
  display: none !important;
}

#first_card {
  height: 225px;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}

#second_card {
  height: 225px;
  float: right;
  margin-left: 10px;
  margin-top: 10px;
}

/*BLOQUE COMENZAR*/
#bloque_comenzar {
  background-image: url("/assets/images/fondo_start_game.jpg");
  background-size: cover;
  height: 98%;
}

#bloque_tablero{
  height: 98%;
  background-image: url("/assets/images/estanteria_r.png");
  background-repeat: no-repeat;
  background-size: 100% 105%;

  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  align-items: center;
}

#bloque_central{
  height: 99%;

}
/**Estilo de la puerta **/
.puerta{
  width: 40%;
}

.abierta{
  width:155px;
  position:relative;
  height: 127px;
  top: 35px;
  right:5px;
}
.cerrada{
  width:110px;
  position:relative;
  height: 127px;
  left:10px;
}
.puerta_fase{
  margin-top:55px;
  margin-left:35px;
  position:relative;
  left:10px;
}
.puerta_fase p{
  position:relative;
  bottom:110px;
  font-size: 20px;
}


#form_start_game {
  position: relative;
  text-align: center;
  font-family: Anton;
  left: 20%;
  top: 15%;
  width: 55%;
  background-color: rgb(241, 181, 52);
  border: 4px solid black;
  border-radius: 5px;
  padding: 2px;
}

#form_start_game li {
  list-style: none;
}

/* mensaje de error en el nombre */
#error {
  background-color: rgb(252, 48, 48);
  border: 3px;
  border-radius: 10px;
}
#error p {
  color: rgb(255, 255, 255);
}

#camaras div {
  height: 165px;
  margin: 10px;
  border: 3px solid black;
}

#carta_recorrido {
  width: 85px;
}
